/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #7ed56f

*/
html {
    /* Do make the website user-friendly to user with visual disabilities */
    font-size: 85%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 1.5rem;
    box-sizing: border-box;
}

.header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient( to right bottom, rgba(126, 213, 111, .8), rgba(40, 180, 131, .8)), url("../img/hero.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}

.header__logo-box {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
}

.header__logo {
    height: 3.5rem;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    /* Fix shaking on animations */
    backface-visibility: hidden;
    margin-bottom: 6rem;
}

.heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-timing-function: ease-out;
    animation-duration: 1s;
}

.heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1.7rem;
    animation-name: moveInRight;
    animation-timing-function: ease-out;
    animation-duration: 1s;
}

.header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes moveInUp {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

.btn:link, .btn:visited { 
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .3s;
    position: relative;
   
}

.btn:hover {
    transform: translateY(-1rem);
    animation-duration: .5s;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
}

.btn:active { 
    transform: translateY(-1px);
    box-shadow: 0 5px 20px rgba(0,0,0,.3);
}

.btn--white {
    background-color: white;
    color: #777;
}

.btn::after {
    display: inline-block;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 100px;   
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .3s;
}

.btn--white::after {
    background-color: white;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn--animated { 
    animation-name: moveInUp;
    animation-timing-function: ease-out;
    animation-duration: 1s;
}