/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #7ed56f

*/

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16;
    line-height: 1.7;
    color: #777;
    padding: 15px;
}

.header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient( to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)), url("../img/hero.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}

.logo-box {
    position: absolute;
    top: 25px;
    left: 25px;
}

.logo {
    height: 35px;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    /* Fix shaking on animations */
    backface-visibility: hidden;
    margin-bottom: 60px;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-timing-function: ease-out;
    animation-duration: 1s;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 17px;
    animation-name: moveInRight;
    animation-timing-function: ease-out;
    animation-duration: 1s;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.btn:link, .btn:visited { 
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .3s;
}

.btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,.3);
}

.btn:active { 
    transform: translateY(-1px);
    box-shadow: 0 5px 20px rgba(0,0,0,.3);
}

.btn-white {
    background-color: white;
    color: #777;
}